github "AFNetworking/AFNetworking" == 4.0.1
github "soheilbm/Base64" "67083ec1e3e970ec920cbf126e6957c6e9e88ae4"
binary "https://iovation.github.io/deviceprint-SDK-iOS/FraudForce.json" == 5.0.3
binary "https://iovation.github.io/launchkey-ios-authenticator-sdk/CoreAuthenticator/CoreAuthenticator.json" == 1.0.2
